---
---

@import "minima";

.post-content {
    display: flex;
    flex-wrap: wrap;
}

img.logo {
    float: right;
}

.book {
    border-bottom: 1px dotted orange;
    flex: 1 0 20%;
    margin: .5em;

    .cover {
        width: 100%;
    }

    .icon {
        height: 1em;
    }
}
